@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    /* Waxaan u baddelnay border-gray-200 maadaama border-border uusan jirin */
    @apply border-gray-200; 
  }
  body {
    @apply bg-light text-dark font-sans;
    margin: 0;
    padding: 0;
  }
}

@layer utilities {
  .container {
    @apply max-w-7xl mx-auto px-4;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-secondary;
}